
  ion-fab-button {
    --box-shadow: none;
    margin: 0;
  }
  
  ion-fab {
    position: relative;
  }
  
  ion-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .edit-buttons ion-col {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
  }
  
  p {
    font-size: x-small !important;
    color: white !important;
    margin: 0;
  }

  .isActive{
    width: 40px;
    height: 40px;
    border: 2px solid #E0030C;
    border-radius: 20px;
  }

  .isActive ion-fab-button {
    background: white;
    border-radius: 20px;
  }

  .isActive, .notActive {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .notActive {
    width: 42px;
  }

  .isActive ion-fab-button, .notActive ion-fab-button {
    width: 32px;
    height: 32px;
  }

  .notActive ion-fab-button {
    width: 28px;
    height: 28px;
  }

  .isActive ion-icon {
    filter: invert(1);
  }
