<div class="top-bar-icon">
  <div>
    <ion-fab>
      <ion-fab-button color="transparent" size="small" style="--box-shadow: none;" (click)="startCamera()">
        <ion-icon src="assets/svg/flash-icon.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab>
      <ion-fab-button color="transparent" size="small">
        <ion-icon src="assets/svg/grid-icon.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab>
      <ion-fab-button color="transparent" size="small">
        <ion-icon src="assets/svg/timer-icon.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab>
      <ion-fab-button color="transparent" size="small" >
        <ion-icon src="assets/svg/close-icon.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</div>