<!-- <swiper-container [options]="slideOpts" class="carousel">
  <swiper-slide *ngFor="let item of items">
    <div class="carousel-item">
      <img [src]="item.src" [alt]="item.alt">
    </div>
  </swiper-slide>
</swiper-container> -->

<swiper-container class="mySwiper">

  <swiper-slide>Slide 1</swiper-slide>
  <swiper-slide>Slide 2</swiper-slide>
  <swiper-slide>Slide 3</swiper-slide>
  <swiper-slide>Slide 4</swiper-slide>
  <swiper-slide>Slide 5</swiper-slide>
  <swiper-slide>Slide 6</swiper-slide>
  <swiper-slide>Slide 7</swiper-slide>
  <swiper-slide>Slide 8</swiper-slide>
  <swiper-slide>Slide 9</swiper-slide>
</swiper-container>