<ion-content [fullscreen]="true">
  <app-top-bar-icons></app-top-bar-icons>

  <div id="container">
    <ion-grid class="edit-buttons">
      <ion-row>
        <ion-col>
          <div>
            <ion-fab>
              <ion-fab-button color="transparent" size="small" (click)="onClick()">
                <ion-icon color="primary" src="assets/svg/adjust-icon.svg"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <p *ngIf="editIconActive" class="checking">Adjust</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-fab>
              <ion-fab-button color="transparent" size="small" >
                <ion-icon src="assets/svg/effect-icon.svg"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <p>Effect</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-fab>
              <ion-fab-button color="transparent" size="small">
                <ion-icon src="assets/svg/preset-icon.svg"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <p>Preset</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-fab>
              <ion-fab-button color="transparent" size="small" >
                <ion-icon src="assets/svg/transition-icon.svg"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <p>Transition</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-fab>
              <ion-fab-button color="transparent" size="small">
                <ion-icon src="assets/svg/music-icon.svg"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <p>Music</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-fab>
              <ion-fab-button color="transparent" size="small" >
                <ion-icon src="assets/svg/sticker-icon.svg"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <p>Sticker</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-fab>
              <ion-fab-button color="transparent" size="small" >
                <ion-icon src="assets/svg/text-icon.svg"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <p>Text</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-fab>
              <ion-fab-button color="transparent" size="small" >
                <ion-icon src="assets/svg/canvas-icon.svg"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <p>Canvas</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
