<ion-content [fullscreen]="true">


  <app-accept-reject-button id="accept-reject-button" *ngIf="showAcceptRejectButtons"
    (acceptRejectButtonEmitter)="acceptRejectHandler($event)"></app-accept-reject-button>

  <app-top-bar-icons *ngIf="showTopButtons"></app-top-bar-icons>

  <div id="container" *ngIf="showSideButtons">
    <app-edit-icons [editIconActive]="editIconActive" (editSelected)="editSelected($event)"></app-edit-icons>
  </div>

  <div class="bottom-container" [ngClass]="{'show': editIconActive.length}">
    <app-canvas-section id="ratio-canvas-section" [editIconActive]="editIconActive"
      (ratioClickedEmitter)="setDivSizeToRatio($event)" *ngIf="editIconActive === 'Canvas'"></app-canvas-section>
    <app-adjust-section [editIconActive]="editIconActive" *ngIf="editIconActive === 'Adjust'"></app-adjust-section>
    <app-effect-section (effectClickedEmitter)="applyFilter($event)" *ngIf="editIconActive === 'Effect'"
      [imageURL]="imageURL"></app-effect-section>
  </div>



  <!-- This limit. -->



  <ion-button *ngIf="!imageURL" (click)="openCamera()" expand="block" fill="clear" shape="round">
    Open Camera App
  </ion-button>
  <img id="photo-image" class="photo-image" *ngIf="imageURL" [src]="imageURL" alt="">
  <div [ngStyle]="{'display': ratioWindow ? '' : 'none'}" id="draggable" class="draggable">
    <div class="resize-handle resize-handle-n"></div>
    <div class="resize-handle resize-handle-e"></div>
    <div class="resize-handle resize-handle-s"></div>
    <div class="resize-handle resize-handle-w"></div>
    <div class="resize-handle resize-handle-ne"></div>
    <div class="resize-handle resize-handle-se"></div>
    <div class="resize-handle resize-handle-sw"></div>
    <div class="resize-handle resize-handle-nw"></div>
  </div>
</ion-content>