#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-fab-button {
  --box-shadow: none;
  margin: 0;
}

.danii ion-fab {
  position: relative;
}

ion-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.edit-buttons ion-col {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}

p {
  font-size: x-small !important;
  color: white !important;
}

.top-bar-icon {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.checking {
  color: red !important;
}


ion-fab-button {
  --background: transparent;
  --background-activated: transparent;
  --background-focused: transparent;
  --background-hover: transparent;
  --border-color: transparent;
  --color: #ffffff;
}